<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <title>Select page</title>
</head>
</head>

<body>
    <h1>MCP prompt for attendance</h1>
    <!-- <p>{{ uuid }}</p>
    <p>{{ data }}</p> -->
    <form method="post" action="host_get_attendance" enctype="multipart/form-data">
        <input type="text" name="staff_id">
        <input type="month" name="target_month">
        <input type="submit" value="submit">
        <!-- <textarea name="talk"></textarea> -->
    </form>
</body>

</html>