<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/event-stream" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.6/css/dataTables.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-4.0.0.min.js"
        integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> -->
    <script src="https://cdn.datatables.net/2.3.6/js/dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dataframe').DataTable();
        });
    </script>
</head>

{% block content %}

<body>
    <h1 class="hidden">User attendance page</h1>
    {{ df_data_html }}

</body>

</html>
{% endblock %}<section><div class='flex gap-10 p-4 bg-purple-200 mb-4'><div>社員ID: 201</div><div>勤務形態: パートタイマー</div><div>契約労働時間: 6.0</div><div>契約有休時間: 6.0</div></div></section><div class='w-[80%] mx-auto border-2 table-wrap overflow-y-auto'><table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th>日付</th>
      <th>オンコール</th>
      <th>出勤</th>
      <th>退勤</th>
      <th>届出(AM)</th>
      <th>届出(PM)</th>
      <th>残業申請</th>
      <th>通常休憩時間</th>
      <th>時間休</th>
      <th>実働時間</th>
      <th>リアル実働時間</th>
      <th>時間外</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>09:00</td>
      <td>17:00</td>
      <td></td>
      <td>1h中抜時休</td>
      <td>0</td>
      <td>1:00</td>
      <td>1</td>
      <td>6:00</td>
      <td>05:00</td>
      <td>00:00</td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>0</td>
      <td>13:30</td>
      <td>17:05</td>
      <td>年休半日</td>
      <td></td>
      <td>0</td>
      <td>0.0</td>
      <td>0</td>
      <td>6:00</td>
      <td>03:00</td>
      <td>00:00</td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td>0</td>
      <td>00:00</td>
      <td>00:00</td>
      <td>年休全日</td>
      <td></td>
      <td>0</td>
      <td>0.0</td>
      <td>0</td>
      <td>6:00</td>
      <td>00:00</td>
      <td>00:00</td>
      <td></td>
    </tr>
    <tr>
      <td>8</td>
      <td>0</td>
      <td>09:00</td>
      <td>17:20</td>
      <td></td>
      <td>1h中抜時休</td>
      <td>0</td>
      <td>1:00</td>
      <td>1</td>
      <td>6:00</td>
      <td>05:00</td>
      <td>00:00</td>
      <td></td>
    </tr>
  </tbody>
</table></div>