<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aattendance page specified staff and month</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.6/css/dataTables.dataTables.min.css" />

    <script src="https://code.jquery.com/jquery-4.0.0.min.js"
        integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> -->
    <script src="https://cdn.datatables.net/2.3.6/js/dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dataframe').DataTable();
        });
    </script>

</head>
</head>

<body>
    <h1>User attendance page</h1>
    {{ df_data_html }}

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th>社員ID</th>
      <th>オンコール</th>
      <th>出勤</th>
      <th>退勤</th>
      <th>届出(AM)</th>
      <th>届出(PM)</th>
      <th>残業申請</th>
      <th>勤務形態</th>
      <th>契約労働時間</th>
      <th>契約有休時間</th>
      <th>通常休憩時間</th>
      <th>時間休</th>
      <th>実働時間</th>
      <th>リアル実働時間</th>
      <th>時間外</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>3</td>
      <td>2</td>
      <td>00:00</td>
      <td>00:00</td>
      <td>None</td>
      <td>None</td>
      <td>0</td>
      <td>6H常勤</td>
      <td>6.0</td>
      <td>6.0</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td>0</td>
      <td>09:15</td>
      <td>16:25</td>
      <td>None</td>
      <td>None</td>
      <td>0</td>
      <td>6H常勤</td>
      <td>6.0</td>
      <td>6.0</td>
      <td>1:00</td>
      <td>0</td>
      <td>6:00</td>
      <td>6:00</td>
      <td>0.0</td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td>0</td>
      <td>00:00</td>
      <td>00:00</td>
      <td>年休全日</td>
      <td>None</td>
      <td>0</td>
      <td>6H常勤</td>
      <td>6.0</td>
      <td>6.0</td>
      <td>0.0</td>
      <td>0</td>
      <td>6:00</td>
      <td>0.0</td>
      <td>0.0</td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td>3</td>
      <td>14:20</td>
      <td>20:30</td>
      <td>None</td>
      <td>None</td>
      <td>0</td>
      <td>6H常勤</td>
      <td>6.0</td>
      <td>6.0</td>
      <td>0.0</td>
      <td>0</td>
      <td>6:00</td>
      <td>6:00</td>
      <td>0.0</td>
      <td></td>
    </tr>
  </tbody>
</table></body></html>