<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/event-stream" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>CSV file comparison</title>

</head>

{% block content %}

<body>
    <h1 id="h1-title">CSV file comparison</h1>
    <form method="post" action="output-csv-compare" enctype="multipart/form-data">
        <div>
            <strong>現システム</strong>のCSVファイルをアップロードしてください
            <label for="old_csv" class="csv-button">CSV file<input name="old_csv" type="file" id="old_csv"></label>
        </div>
        <div>
            <strong>テスト環境システム</strong>のCSVファイルをアップロードしてください
            <label for="new_csv" class="csv-button">CSV file<input name="new_csv" type="file" id="new_csv"></label>
        </div>
        <input type="hidden" name="uuid" value="{{ uuid }}">
        <input type="submit" value="差分ファイル生成" class="json-button">
    </form>
    {% if json_file_name != "" %}
    JSON file name: <p>{{ json_file_name }}</p>
    <a href="../../../output_json/{{ json_file_name }}" download="{{ json_file_name }}" class="dl-button">Download
        JSON file</a>
    {% endif %}
</body>

</html>
{% endblock %}