<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/event-stream" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/DiffDataToDetails.js"></script>
    <title>Select page</title>
</head>

{% block content %}

<body>
    <h1 id="h1-title">Select page</h1>
    <h3>ID {{ user_data["user_id"] }} さんが、利用中です。</h3>

    <div class="csv-wrap">
        <p>新旧集計ファイルのアップロード</p>
        <div>
            <form method="get" action="csv-diff">
                <input type="hidden" name="uuid" value="{{ uuid }}">
                <button type="submit" class="csv-button">CSV file comparison</button>
            </form>
        </div>
    </div>

    <div class="diff-upload-wrap">
        <p>差分結果一覧ファイル読み込み</p>
        <label for="file_load" class="upload-button">
            差分一覧ファイルを選択してください
            <input name="file_load" type="file" id="file_load"></label>
    </div>

    <div class="diff-output-wrap">
        <div id="json-diff">
            <!-- <details>
                <summary>Nutts</summary>
            </details> -->
        </div>
        <div class="select-attendance">
            <p>差分一覧から、気になる社員(ID)、対象月を入力してください</p>
            <div>
                <form method="post" action="make-attendance-list">
                    <input type="hidden" name="uuid" value="{{ uuid }}">
                    <input type="text" name="staff_id" placeholder="社員ID" required>
                    <input type="month" name="target_month" required>
                    <button type="submit" class="chat-button">Attendance list & Chat analization</button>
                </form>
            </div>
        </div>
        <!-- <div>
            <form method="post" action="chat-with-ai">
                <input type="hidden" name="uuid" value="{#{ uuid }#}">
                <input type="text" name="staff_id" required>
                <input type="month" name="target_month" required>
                <input type="submit" value="Analyze attendance">
            </form>
        </div> -->
    </div>
    <script src="static/js/AppearRequireChatForm.js"></script>
</body>

</html>
{% endblock %}